.button {
}

.disabled {
  background-color: inherit;
}

.secondary {
  background-color: blue;
}

.default {
  background-color: gray;
}

.red {
  background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}

.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
